main, body, html, h1, h2, h3, img, div, article, p, input, select, label, form, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; 
  color: #111;
}

img, a {
  display: block;
  margin: auto; }

body {
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  margin: 0.5em;
  flex-basis: 200px;
}

.imageContainer-image {
}

.titleContainer {
  margin: 0.5em;
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  flex: 1 1 500px;
}

.linksContainer {
  margin: 0.5em;
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  flex-basis: 100%;
}

.titleContainer-name {
  
}

.titleContainer-subtitle {
  
}