main, body, html, h1, h2, h3, img, div, article, p, input, select, label, form, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; 
  color: #111;
}

img, a {
  display: block;
  margin: auto; }

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ebebeb' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"), linear-gradient(to right, #3a7bd5, #00d2ff);
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  margin: 0.5em;
  flex-basis: 200px;
}

.imageContainer-image {
}

.nameAndLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  & > div {
    flex-basis: 100%;
  }
}

.titleContainer {
  margin: 0.5em;
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linksContainer {
  margin: 0.5em;
  padding: 2em;
  background-color: rgba(255,255,255,0.5);
  display: flex;

  // flex-basis: 100%;
}

.titleContainer-name {
  
}

.titleContainer-subtitle {
  
}