@mixin white-container {
  margin: 0.5em;
  padding: 1em;
  background-color: rgba(255,255,255,0.5);
}

@mixin flex($jc: null, $ai: null, $wrap: wrap, $direction: null, $child-grow: null) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;

  & > * {
    flex-grow: $child-grow;
  }

}

.mainContent {
  @include flex($ai: flex-end);
  max-width: 800px;
}

.imageContainer {
  @include white-container;
  flex-basis: 100px;
}

.imageContainer-image {
  width: 100px;
}

.titleContainer {
  @include white-container;
  @include flex($jc: center, $direction: column);
  flex: 0 1 500px;
}

.titleContainer-name {
  font-size: 1.25em;
}

.titleContainer-subtitle {
  font-size: 1.25 * 1.25em;
  font-weight: 600;
}

.linksContainer {
  @include white-container;
  display: flex;
  font-size: 0.8em;
  a + a {
    margin-left: 2em;
  }
}

.descriptionContainer {
  @include white-container;
  
  & > p + p {
    margin-top: 0.8em;
  }
}

.skillsContainer {
  @include white-container;
  flex-basis: 500px;
}

.experience {
  font-weight: bold;
}
