doctype html
html(lang='en')
  head
    title= config.blogTitle
    link(rel="stylesheet", href="/assets/css/main.css")

  body
    include /partials/blog-header.pug

    main

      div.banner
        div.banner-container.container
          h1.banner-title= config.blogTitle
          p.banner-text 
            span= config.blogTagline

      div.latestPosts.container
        h2.latestPosts-title Latest Posts
        ul.latestPosts-list
          each post, index in collections.post
            if index < config.postListLimit
              li.latestPosts-item 
                a(href="posts/" + post.data.slug).latestPosts-itemText= post.data.title
                div.latestPosts-itemDate= post.data.date
                  //- :dateFilter post.data.date

    include /partials/blog-footer.pug
      