doctype html
html(lang='en')
  head
    title THE BLOG

  body
    include /partials/blogHeader.pug

    h1.bla This is my blog

    a(href="/posts/testPost") see one post

    a(href="/") back to page