doctype html
html(lang='en')
  head
    title THE BLOG
    link(rel="stylesheet", href="/assets/css/main.css")

  body
    include /partials/blog-header.pug

    main

      h1.bla.container This is my blog

      ul.container
        each post, index in collections.post
          if index < config.postListLimit
            li
              a(href="posts/" + post.data.slug)= post.data.title
              div= post.data.date

    include /partials/blog-footer.pug
      