.postTitle {
  background-image: url("https://loremflickr.com/1024/300");
  background-repeat: no-repeat;
  background-size: cover;
  // color: white;

  &-container {
    @include basic-container($space-xxl $space-lg);
  }

  &-text {
    background-color: rgba(255, 255, 255, 0.75);
    padding: $space-xxxs-fixed;
  }
}

.postDate {
  background-color: rgba(255, 255, 255, 0.75);
  padding: $space-xxxs-fixed;
  line-height: 1;
  display: inline-block;
  box-decoration-break: clone;
}

.postContent-container {
  @include basic-container($max-width: 750px);
}

.post {
  font-family: "Noto Serif TC", serif;
  font-size: $text-md;

  p {
    margin-bottom: $space-lg;

    &:first-child {
      &:first-letter {
        font-size: $text-xxl;
      }
    }
  }

  pre + p {
    margin-top: -$space-xs;
    font-size: $space-sm;
    color: gray;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $space-xxs;
    font-family: sans-serif;
  }

  blockquote {
    background-color: lightblue;
    padding: $space-md;
    font-size: $text-lg;
    border-radius: 5px;

    p {
      margin-bottom: 0;

      &:first-child {
        &:first-letter {
          font-size: $text-md;
        }
      }
    }
  }
}
