doctype html
include /mixins/post-title.pug

html(lang='en')
  head
    title= title
    link(rel="stylesheet", href="/assets/css/main.css")

  body
    include /partials/blog-header.pug

    main
      +post-title(title, date)
      div.postContent-container.container !{content}

    include /partials/blog-footer.pug