doctype html
html(lang='en')
  head
    title ONE POST
    link(rel="stylesheet", href="/assets/css/main.css")

  body
    include /partials/blogHeader.pug

    div.post !{content}

    a(href="/") back to page