doctype html
include /mixins/post-title.pug

html(lang='en')
  head
    title= title
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel="stylesheet", href="/vendors/prism.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,600&display=swap")

  body
    include /partials/blog-header.pug

    main
      +post-title(title, date)
      div.postContent-container.post.container !{content}

    include /partials/blog-footer.pug

    script(src="/vendors/prism.js")
