html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* components padding */
/* distance between components */
/* fixed values - not affected by $space-unit or $text-base-size */
/* line-height */
html {
  font-size: 1em;
  font-family: sans-serif; }
  @media only screen and (min-width: 480px) {
    html {
      font-size: 1.2em; } }

body {
  font-size: inherit;
  font-family: sans-serif; }

h1,
h2,
h3,
h4,
form legend {
  line-height: 1.2; }

/* text size */
.text--xxxl {
  font-size: 2.44141em; }

h1,
.text--xxl {
  font-size: 1.95312em; }

h2,
.text--xl {
  font-size: 1.5625em; }

h3,
.text--lg {
  font-size: 1.25em; }

h4,
p,
button,
.text--md {
  font-size: 1em; }

.text--sm,
small {
  font-size: 0.8em; }

.text--xs {
  font-size: 0.64em; }

p {
  line-height: 1.4; }

.container {
  padding: 1.25em;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto; }

.header {
  padding: 1.25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .header-title {
    font-size: 1.5625em; }
  .header-navigation {
    margin-left: auto; }
  .header-links {
    display: flex;
    flex-wrap: wrap; }
  .header-link {
    margin-left: 1em; }

.banner {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252525' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }

.banner-title {
  display: inline-block;
  background-color: #fff;
  padding: 0.125rem;
  line-height: 1;
  margin-bottom: 0.5em; }

.banner-text:not(:last-child) {
  margin-bottom: 0.5em; }

.banner-text span {
  text-align: right;
  background-color: #000;
  color: white;
  padding: 0.125rem;
  line-height: 1; }
  .banner-text span span {
    box-decoration-break: clone; }

.sectionTitle {
  font-size: 1.25em; }

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh; }

main {
  flex-grow: 1; }

.latestPosts-title {
  margin-bottom: 0.75em; }

.latestPosts-item {
  margin-bottom: 0.75em; }

.latestPosts-itemText {
  font-size: 1.25em; }

.latestPosts-itemDate {
  font-size: 0.8em; }

.postTitle {
  background-image: url("https://loremflickr.com/1024/300");
  background-repeat: no-repeat;
  background-size: cover; }
  .postTitle-container {
    padding: 3.25em 1.25em;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; }
  .postTitle-text {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.125rem; }

.postDate {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.125rem;
  line-height: 1;
  display: inline-block;
  box-decoration-break: clone; }

.postContent-container {
  padding: 1.25em;
  max-width: 700px;
  width: 100%;
  margin: 0 auto; }

.post {
  font-family: "Noto Serif TC", serif;
  font-size: 1em; }
  .post p {
    margin-bottom: 2em; }
    .post p:first-child:first-letter {
      font-size: 1.95312em; }
  .post pre + p {
    margin-top: -0.5em;
    font-size: 0.75em;
    color: gray; }
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6 {
    margin-bottom: 0.25em;
    font-family: sans-serif; }
  .post blockquote {
    background-color: lightblue;
    padding: 0.5em; }
    .post blockquote p {
      margin-bottom: 1em; }
