.mainTitle {
  padding: 3em;
  background-color: aliceblue;
  text-align: center;
}

.mainTitle-text {
  max-width: 700px;
  margin: auto;

}

.mainTitle-subtext {
  max-width: 700px;
  margin: auto;
  margin-top: 0.8em;
}