<div class="hero-foot">
  <nav
    class="header-nav tabs is-boxed"
    role="navigation"
    aria-label="main navigation"
    [ngClass]="{'is-small': breakpoint === 'phone_small'}">
    <div class="container">
      <ul>
        <li
          *ngFor="let page of navLinks"
          [ngClass]="currentActiveSection === page ? 'is-active' : '' ">
          <a
            [routerLink]="'/' + page"
            [attr.data-link]="page"
            class="header-nav__page-link is-uppercase"
            (click)="changeSection()">
            {{ page | translate }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
