doctype html
html(lang='en')
  head
    title Andre Dantas | Frontend Developer
    link(rel="stylesheet", href="./styles/main.scss")

  body
    include ./main/header.pug

    div.mainTitle
      h1.mainTitle-text A Dedicated and Passionate Developer

    div.projectItem this.props.projectName

    div.skillItem this.props.skillName
    
    a.goToBlog(href="/posts/testPost") go to blog

