---
layout: /layouts/home.pug
---

include /mixins/generic-section.pug

div.banner
  div.banner-container
    h1.banner-title A Dedicated and Passionate Developer
    p.banner-text 
      span I'm a Frontend developer from Montreal, Canada.
    p.banner-text 
      span Lover of new technologies, programming became to me the outlet to exploring visual and interactive experiences.

div.section-container
  +generic-section(skills.title)

div.section-container
  +generic-section(projects.title)


