header.header
  div.header-title=config.blogTitle
  nav.header-navigation
    ul.header-links
      li.header-link
        a(href="/") Back to homepage
      li.header-link
        a(href="/contact") Contact Me
