footer.footer
  div.footer-title=config.blogTitle
  nav.footer-navigation
    ul.footer-links
      li.footer-link
        a(href="/") Visit my homepage
      li.footer-link
        a(href="https://www.twitter.com", target="_blank") Twitter
