header.header
  div.header-title Andre's Web - Blog
  nav.header-navigation
    ul.header-links
      li.header-link
        a(href="/") Back to homepage
      li.header-link
        a(href="/contact") Contact Me